:root {
    font-size: 62.5%;
    
    --logoColor: #f3b137;
    --bgColor: #6c91c2;
    --aBeforeHover: #cf3;
    --btnColor: #36827F;
    --btnColorHover: #55D6BE;
    --fontColor: #eee;

    --cadetBlueCrayola: #aaabbc;
    --charcoal: #373f47;
    --periwinkleCrayola: #c3c9e9;
    --black: #000;
}



