* {
    margin: 0;
    outline: 0;
    border: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 2rem;
    font-family: 'fira code', sans-serif;
    letter-spacing: .1rem;
}