:root {
    font-size: 62.5%;

    --actionFontColor: #eee;
    --mainBtnFontColor: #eee;
    --mainDescription: #fff;
    --subtitleFontColor: #eee;
    --titleFontColor: #f3b137;
    
    --headerBgColor: #6c91c2;
    --blueBgColor: #6c91c2;
    --cardBgColor: #6c91c2;
    --cardOrangeBgColor: #f3b131;
    --mainBtnBgColor: #36827f;
    --mainBoxBgColor: #373f47;
    --actionBeforeBgColor: #373f47;
    --mainSectionBgColor: #36827f;
    --progressBarBgColor: #eee;
    
    --mainBtnHover: #369c98;
    --actionHover: #d9ff19;
    --actionShadow: #d9ff19;

    --progressBarValueColor: #6c91c2;

    --borderColor: #000;  
    --borderColorWhite: #eee;  
    --borderColorGreen: #36827f;  
    --borderColorMainSection: #6c91c2;  

    --green: #36827f;
}



