:root {
    font-size: 62.5%;
    
    --logoColor: #f3b137;
    --bgColor: #6c91c2;
    --aBeforeHover: #cf3;
    --btnColor: #36827F;
    --btnColorHover: #55D6BE;
    --fontColor: #eee;

    --cadetBlueCrayola: #aaabbc;
    --charcoal: #373f47;
    --periwinkleCrayola: #c3c9e9;
    --black: #000;
}

header {
    background: var(--bgColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    border-bottom: 1rem solid var(--black) ;
    padding: 1rem 2rem;
    max-width: 144rem;
    width: 100%;
} 
header nav {
    font-size: 2rem;
    text-align: right;
}
    nav a {
        display: inline-flex;
        align-items: center;
        margin-right: 3rem;
        color: var(--fontColor);
        font-weight: 400;
        text-decoration: none;
    }
    nav a::before {
        content: '';
        background: var(--charcoal);
        margin-right: 1rem;
        width: 1rem;
        height: 1rem;
    }
    nav a:hover::before {
        background: var(--aBeforeHover);
        box-shadow: 0rem 0rem 1rem .1rem var(--aBeforeHover);
    }
    nav #btn {
        background: var(--btnColor);
        margin-right: 0rem;
        box-shadow: .5rem .5rem 0rem var(--black);
        padding: 1.8rem 2rem;
        color: var(--fontColor);
        font-size: 2rem;
        font-weight: 500;
        cursor: pointer;
    }
    nav #btn:hover {
        background: var(--btnColorHover);
    }
    nav #btn::before {
        content: none;
    }