.action {
    display: inline-flex;
    align-items: center;
    margin-right: 3rem;
    color: var(--fontColor);
    font-weight: 400;
    font-size: 2rem;
}
.action::before {
    content: '';
    background: var(--charcoal);
    margin-right: 1rem;
    width: 1rem;
    height: 1rem;
}
.action:hover::before {
    background: var(--aBeforeHover);
    box-shadow: 0rem 0rem 1rem .1rem var(--aBeforeHover);
}