.main-button {
    display: inline-flex;
    align-items: center;
    background: var(--btnColor);
    margin-right: 0rem;
    box-shadow: .5rem .5rem 0rem var(--black);
    padding: 1.8rem 2rem;
    color: var(--fontColor);
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
}
.main-button:hover {
    background: var(--btnColorHover);
}
