.main-form {
    padding: 5rem 4rem;
}

.main-form .main-title.-second {
    margin-bottom: 5rem;
}

.main-form .main-input {
    margin-bottom: 2rem;
}

.main-form .main-input.-textarea {
    margin-bottom: 4rem;
}