.main-banner {
    /* background-image: url(../../img/icons-g/orangutex.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    background: linear-gradient(to bottom, #800080, #f3b035);
    height: 80rem;
    border-bottom: 1rem solid var(--borderColor);
} 

.wrapper {
    margin-top: 11.5rem;
    margin-left: 9rem;
    display: inline-flex;
    flex-direction: column;
    gap: 4rem;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
}