.main-title {
    margin-bottom: 2.8rem;
    color: var(--logoColor);
    text-shadow: .4rem .4rem 0rem var(--black);
    font-family: 'Press Start 2P', sans-serif;
    font-size: 4rem;
    cursor: pointer;
}

.main-title.-second {
    /* margin-top: 5rem; */
    margin-bottom: 0rem;
    /* text-align: center; */
    
    color: var(--fontColor);
    text-shadow: none;
}