.main-section {
    height: 74rem;
    background: var(--mainSectionBgColor);
    border-bottom: 1rem solid var(--borderColorMainSection);
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-section.-bgBlack {
    height: auto;
    background: black;
    border-color: var(--borderColorGreen);

    flex-direction: row;
}