.main-section {
    height: 74rem;
    background: var(--mainSectionBgColor);
    border-bottom: 1rem solid var(--borderColorMainSection);
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-section.-bgBlack {
    height: 53rem;
    background: black;
    border-color: var(--borderColorGreen);
    align-items: stretch;
}

.main-section.-bgBlue {
    height: auto;
    background: var(--blueBgColor);
    border-color: var(--borderColor);
}