.progress-bar {
    width: 32rem;
    height: 4rem;
    border: .5rem solid var(--borderColor); 
}

.progress-bar::-webkit-progress-bar {
    background-color: var(--progressBarBgColor);
}

.progress-bar::-webkit-progress-value {
    background-color: var(--progressBarValueColor);
}


