.main-section {
    margin: auto;
    max-width: 144rem;
    width: 100%;
    height: 74rem;
    background: var(--btnColor);
    border-bottom: 1rem solid var(--bgColor);

    text-align: center;
}

