/* .skill-tec {
   
    display: flex;
    align-items: center;
    gap: 2rem;
    
}

.skill-tec .icon {
    display: inline-block;
    margin: auto;
}

.skill-tec .title {
    margin-bottom: 1.6rem;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 2.5rem;
    color: var(--fontColor);
} */


.skill-tec {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    margin-bottom: 4rem;
}

.skill-tec:nth-child(odd) {
    margin-right: 5rem;
}
.skill-tec:nth-child(even) {
    margin-left: 5rem;
}

.title {
    margin-bottom: 1.6rem;
    font-family: 'Press Start 2P', 'sans-serif';
    font-size: 2.5rem;
    color: var(--subtitleFontColor);
}